.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    animation-direction: alternate
  }
}

.par{
  line-height: normal;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title{
  font-size: calc(20px + 2vmin);
}

.button {
  transition-duration: 0.4s;
  background-color: black;
  color:white;
  border: 2px solid black; /* Green */
  line-height: normal;
}

.button:hover {
  background-color:white; /* Green */
  color:black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0%   {background-color: #282c34;}
  50%  {background-color: white;}

}

